mat-sidenav-content {
  display: flex;
  flex-direction: column;

  .header {
    z-index: 2;
    position: sticky;
    top: 0;

    .options {
      font-size: small;

      .hide-hint .mat-form-field-wrapper {
        margin-bottom: -1.25em;
      }
    }
  }
  
  app-wrapper {
    width: 95%;
    margin: 1rem auto;
  }
}

