<mat-sidenav-container fullscreen>
  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z2 header">
      <span>Work Item Wrapper</span>

      <span spacer></span>

      <button (click)="legacy()" mat-stroked-button>Legacy</button>

      <span spacer="1rem"></span>

      <button (click)="side()" mat-stroked-button>Side</button>

      <span spacer="1rem"></span>

      <button (click)="over()" mat-stroked-button>Over</button>
      
      <span spacer="1rem"></span>

      <div class="options">
        <mat-form-field appearance="fill" style="margin-bottom: -1.25em">
          <mat-label>Left Side Width</mat-label>
          <input [(ngModel)]="leftWidth" matInput placeholder="Placeholder">
        </mat-form-field>
  
        <mat-form-field appearance="fill" style="margin-bottom: -1.25em">
          <mat-label>Right Side Width</mat-label>
          <input [(ngModel)]="rightWidth" matInput placeholder="Placeholder">
        </mat-form-field>
  
        <mat-form-field appearance="fill" style="margin-bottom: -1.25em">
          <mat-label>Drawer Mode</mat-label>
          <mat-select [(ngModel)]="mode">
            <mat-option *ngFor="let mode of modes" [value]="mode">
              {{mode | titlecase}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-toolbar>

    <app-wrapper
      (onClose)="close()"
      [leftWidth]="leftWidth"
      [rightWidth]="rightWidth"
      [isOpen]="isOpen"
      [mode]="mode"
      title="Test"
    >
      <div left>
        <app-left
          (open)="open()"
        ></app-left>
      </div>
      
      <div right>
        <app-right
          (cancel)="cancel()"
        ></app-right>
      </div>
    </app-wrapper>
  </mat-sidenav-content>
</mat-sidenav-container>



