<mat-sidenav-container fullscreen>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="header">
      <mat-toolbar-row>
        <span>Work Item Wrapper</span>

        <span spacer></span>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <div class="options">
          <mat-form-field appearance="fill">
            <mat-label>Left Side Width</mat-label>
            <input [(ngModel)]="leftWidth" matInput placeholder="Placeholder">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Right Side Width</mat-label>
            <input [(ngModel)]="rightWidth" matInput placeholder="Placeholder">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Drawer Mode</mat-label>
            <mat-select>
              <mat-option *ngFor="let mode of modes" [value]="mode">
                {{mode | titlecase}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>

    <app-wrapper 
      title="Test"
      [leftWidth]="leftWidth"
      [rightWidth]="rightWidth"
      [isOpen]="isOpen"
    >
      <div left>
        <app-left
          (open)="open()"
        ></app-left>
      </div>
      
      <div right>
        <app-right
          (cancel)="cancel()"
        ></app-right>
      </div>
    </app-wrapper>
  </mat-sidenav-content>
</mat-sidenav-container>



